<div class="row">
    <div class="col-md-8">
        <span ng-show="loggedIn && !isAdmin" ng-click="goToOrderList(userid)" class="btn">
           <span class="glyphicon glyphicon-list-alt" aria-hidden="true" > </span>
            Bestellübersicht
        </span>

    </div>
    <div class="col-md-4" ng-hide="isUser">
        <span href="#" ng-click="showBucket()" class="btn">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> </span>
            Warenkorb ({{bucketAmount}})
        </span>
    </div>
    <div class="col-md-4" ng-show="isUser">
        <span href="#" ng-click="showBucketUser()" class="btn">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> </span>
            Warenkorb ({{bucketAmount}})
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <!--Login Form-->

        <form class="navbar-form navbar-right" ng-submit="login()" ng-controller="LoginCtrl" ng-show="!loggedIn">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
                 ng-if="flash" ng-bind="flash.message"></div>
            <div class="form-group">
                <input type="text" placeholder="User" class="form-control" ng-model="username">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" ng-model="password">
            </div>
            <input type="submit" class="btn btn-success" value="Login">
        </form>
        <p><a href="#/books" class="btn btn-primary" ng-click="logout()" ng-controller="LoginCtrl"
              ng-show="loggedIn">Logout</a></p>
    </div>
</div>
<div class="row min-height"></div>

<h2 ng-show="isAdmin">Administrationsbereich</h2>

<input type="text" placeholder="Suchen..."
       ng-model="searchText">
<div class="row min-height"></div>
<table class="bm-book-list table table-striped table-hover">
    <thead>
    <tr>
        <td>Titel</td>
        <td>Author</td>
        <td>ISBN</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="book in books | orderBy: '[title,subtitle]' | filter: searchText">

        <td ng-show="isUser"><a ng-href="#/user/books/{{ book.isbn }}" ng-bind="book.title"></a></td>
        <td ng-hide="isAdmin || isUser"><a ng-href="#/books/{{ book.isbn }}" ng-bind="book.title"></a></td>
        <td ng-show="isAdmin"><a ng-href="#/admin/books/{{ book.isbn }}/edit" ng-bind="book.title"></a></td>
        <td ng-bind="book.author"></td>
        <td ng-bind="book.isbn"></td>
        <td ng-show="isAdmin">
            <button class="glyphicon glyphicon-trash" ng-click="delete(book.isbn)"></button>
        </td>
    </tr>
    </tbody>
</table>

<!--Customer-->


<!--Admin-->
<p ng-show="isAdmin">
    <a class="bm-new-book-link" ng-href="#/admin/books/new">Neues Buch anlegen</a>
</p>
<p ng-show="isAdmin">
    <a class="bm-new-book-link" ng-href="#/admin/publishers">Verlage verwalten</a>
</p>














